.name{
    padding: 5px 10px;
    background-color: #FF0653;
    border-radius: 5px;
    transform: translate(10px, 5px) rotate(3deg);
}

.header_subtitle{
    max-width: 500px;   
}

.pfp {
    max-width: 500px;
}

.wrap{
    background-color: #242424;
   
}
.cv_part{
    width: 500px;
    padding: 90px 40px;
    border: 5px solid #FF0653;
    border-radius: 20px;
    transform: translate(0,-230px);
    @media only screen and (max-width:1024px) {
        transform: translate(0,0);
        margin: 30px 0 0 0;
    }
    .subtitle{
        // max-width: 350px;
        margin: 0 auto;
    }
}
.text_part{
    
}

.cv_btn{
    
    
    background-color: #FF0653;
    cursor: pointer;
}

.right_part{
    .subtitle{
        max-width: 500px;
    }
    
}
$link-text-color: #fff;
$border-radius: 6px;
.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: $link-text-color;
    text-transform: capitalize;
    /* background-color: - add your own background-color */
    font: {
      family: 'Roboto', sans-serif; /* put your font-family */
      size: 18px;
    }
    padding: 20px 5px;

    width: 250px;
    border-radius: $border-radius;
    overflow: hidden;
  }
  
.effect.effect-1 {
  transition: all 0.2s linear 0s;
  
  &:before {
    content: "\f019";
    font-family: FontAwesome;
    font-size: 23px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }
  
  &:hover {
    text-indent: -20px;
    
    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}