.footer{
    background-color: #242424;
}
.footer_btn{
    background-color: #FF0653;
    border-radius: 20px;
    padding: 20px 35px;
}
.row{
    width: 100%;
    height: 1px;
    background-color: #646464;
}
.catgif{
    width: 50px;
}