*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
    background-color: #161616;
    width: 100%;
    position: relative;
}
.subtitle{
    color: #B6B6B6;
}

.lock{
    overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}